body{
    background-size: 100% 100%;
    background-position: ;
    background-image: linear-gradient(rgb(167, 99, 4)0% , rgba(93, 233, 240, 0.989) 100%);

}
h2 , p{
    justify-self: center;
    align-self: center;
}
.card {
    position: relative;
    background-color: red;
    border: solid 2px red;
}
h1 {
    color: rgb(23, 87, 9);
    justify-self: center;
    font-size: 60px;
    text-decoration: underline;
    margin-top: 80px;
}
p {
    color: rgb(244, 233, 241);
    padding: 5px;
}
.container {
    justify-content: center;
    align-content: center;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(5, 15%);
    gap: 15px;
}


h2{
    color: red;
    opacity: 0;
    align-content: center;
}
footer{
    align-content: flex-end;
    background-color: green;
    margin-top: 250px;
    padding-top: 20px;
}


p:hover{
    opacity: 0;
}
h2:hover{
    opacity: 1;
}
.card:hover{
    background-color: white;
} 
.card:hover p {
    opacity: 0;
} .card:hover h2 {
    opacity: 1;
}
@keyframes 