body{
    background-size: 100% 100%;
    background: linear-gradient(90deg, rgba(9,5,77,1) 10%, rgba(136,202,98,1) 31%, rgba(101,209,195,0.9719537473192402) 88%);

}

h1:hover {
    animation:zoom-in-up 1s ease;
}

h1 {
    color: rgb(23, 87, 9);
    justify-self: center;
    font-size: 70px;
    text-decoration: underline;
    margin-top: 80px;
    animation:zoom-in 3s ease-in-out ;
    
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    border: solid 2px red;
    animation: zoom-in-up 4s    ease-in ; 
}

.hidden-text {
    font-size: 30px;
    color: red;
    display: none;
}


p {
    font-size: 20px;
    color: rgb(244, 233, 241);
}

.container article {
    justify-content: center;
    align-content: center;  
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(5, 15%);
    gap: 15px;
}



footer{
    text-align: center;
    align-content: flex-end;
    background-color: green;
    margin-top: 250px;
    padding-top: 20px;
}

.hidden-text:hover{
    opacity: 1;
}

.card:hover{
    animation: changebackground 4s ease infinite;
    
    
} 

.card:hover p {
    display: none;
    position: absolute;
} 

.card:hover .hidden-text  {
    display: block;
}

@keyframes changebackground {
    0%{
        background-color: red;
    }
    
    100%{
        background-color: white;
    }
}
@keyframes zoom-in{
from{
opacity: 0;
transform: scale3d(0.3, 0.3, 0.3);
}
50%{
opacity: 1;
}
}

@keyframes zoom-in-up{
    from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    70%{
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -20px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    

}
 @media (max-width: 480px) {
    
    .container article{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;

    }

    h1{
        justify-content: center;
        width: auto;
        font-size: 20px;
    }
    .card{
        align-content: center;
        width: 180px;
        
       
    }
    .hidden-text{
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    .card:hover{
        display: flex;
        align-content: center;
        padding-block: 16px;

    }
   
       
    
 }